.pages{
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    overflow: auto;
    border-top: 1px solid rgb(218, 198, 152);
    background-color: azure;
    z-index: 2;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.pages span{
    cursor: pointer;
    padding: 0px 3px;
}
.selectedPage {
    font-weight: 900;
}