.wrapper{
    display: flex;
    flex-direction: column;
    max-height: 91vh;
}
.main {
    flex:1 1 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
/*    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;*/
}
.Container {
    display: flex;
    margin: 5px;
    border: 1px solid teal;
    border-radius: 5px;


}
.leftCnt{
    flex: 1 1 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.rightCnt{
    max-width: 400px;
    overflow: hidden;
    flex: 1 1 70vh;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.name {
    font-size: 18px;
    font-weight: 700;
}
.status {
    font-size: 14px;
}
.PhotoCnt{
    position: relative;
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.PhotoCnt img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.buttons {
    text-align: center;
    margin: 5px;
}
.buttons button{
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;

    border-radius: 5px;
    opacity: 1;
    transition: all 0.2s cubic-bezier(.5,.66,.21,1.32) 0s;
}
.buttons button:disabled{
    opacity: 0.5;
}
.buttons button:active{
    background-color: teal;
}

.follow {

    border: 1px solid tan;
}
.unfollow {
    border: 1px solid green;
}
