.header {
	grid-area: h;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-size: 24px;
	color:teal;
	font-weight: 700;
	padding-left: 20px;
}
.logo span{
	font-size: 36px;
	color: goldenrod;
	font-weight: 700;
	padding-left: 20px;
}
.header img {
	width: 100%;
	object-fit: cover;
	
}
.menu {
	margin: 0px 15px;
	display: flex;
}
.menu a {
	color: rgb(25, 25, 26);
	text-decoration: none;
	padding: 0px 10px;
	font-size: 18px;
}
.item {
	color: rgb(0, 0, 0);
}
.item  a{
	color: inherit;
}
.loginBlock{
	display: flex;
	align-items: center;
	gap: 10px;
}
.loginBlock img{
	width: 40px;
	height: 40px;
}
.userImage{

}