.footer{
	grid-area: f;
background-color: rgb(242, 240, 240); 
	display: flex;
	justify-content:center;
	align-items: center;
	border-left: 1px solid rgb(218, 198, 152);
	border-right: 1px solid rgb(218, 198, 152);
	
}